<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>king0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,132},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,264},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>king0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,396},{89,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,131}}</string>
				<key>sourceSize</key>
				<string>{89,131}</string>
				<key>rotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string></string>
			<key>textureFileName</key>
			<string></string>
			<key>size</key>
			<string>{0,0}</string>
		</dict>
	</dict>
</plist>
