<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>All Animations0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,117},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,234},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,351},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
			<key>All Animations0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{89,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,116}}</string>
				<key>sourceSize</key>
				<string>{89,116}</string>
				<key>rotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string></string>
			<key>textureFileName</key>
			<string></string>
			<key>size</key>
			<string>{0,0}</string>
		</dict>
	</dict>
</plist>
